<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="mainpage.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Aldrich&display=swap" rel="stylesheet">
<head>
    <meta charset="UTF-8">
    <title>Home | StimpTech Industries</title>
</head>
<body>
  <div class="container">
    <div class="nav">Navigation Bar</div>
    <div class="box item1">StimpTech TV</div>
    <div class="box item2">IDK</div>
    <div class="box item3"><a href="#"><img src="img/Industrial Machinery GPT.webp" alt=""></a></div>
    <div class="box item4"><a href=""><img src="img/StimpTechAquaticLogoFull.webp" alt=""></a></div>
    <div class="box item5">TBA</div>
    <div class="box item6">TBA</div>
    <div class="box item7">TBA</div>
</div>
    
</body>
</html>